*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #fff;
    --secondary-color:#9333EA;
}

html{
    background: linear-gradient(299.75deg, #B9D5FF 0%, #F6D1FC 98.93%);;
}
.wrapper{
    width: 100vw;
    display: flex;
    justify-content: center;

    .container{
        background-color: var(--primary-color);
        height: 10vh;
        border-radius: 10px;
        width: 90vw;
        margin-top: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 7vh;

        .left{
            color: var(--secondary-color);
            display: flex;
            gap: 5px;
            justify-content: center;
            align-items: center;

            .left-title{
                font-weight: 700;
                font-size: 36px;
            }
        }

        .mid{
            display: flex;
            gap: 4vw;
        }

        .right{
            display: flex;
            gap: 2vw;
        }
    }
    

}